# Dependencies
node_modules/
package-lock.json
yarn.lock

# Compiled files
dist/

# Test outputs
reports/
screenshots/
logs/
allure-results/
allure-report/

# Environment files
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# OS
Thumbs.db
